.movie {
	text-align: left;
    margin: 20px;
    margin-block-start: 0;
}
.movie-card{
    min-width: 375px;
    max-width: 600px;
    margin-bottom: 25px !important;
    .ant-card-body{
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: space-between;
    }
    .ant-card-meta-title{
        white-space: normal;
        text-overflow: inherit;
    }
    .movie-card__top{
        flex-grow: 1;
    }
    .movie-card__bottom{
        display: flex;
        justify-content: space-between;
        span{
            font-weight: 500;
            margin-top: -1px;
        }
    }
}

.ant-back-top{
    background: #01d277;
    display: flex;
    color: #ffffff !important;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px #7f7f7f;
}